# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS (Windows)
Thumbs.db
desktop.ini

# Logs & temp
*.log
*.tmp
